.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Sidebar Container */
.sidebar-container {
  height: 100vh;
  max-height: calc(100vh - 60px);
  transition: width 0.3s ease, transform 0.3s ease;
  width: 15%; /* Default open width */
}

.sidebar-container.closed {
  width: 5%; /* Reduced width when closed */
}

.sidebar-container.open {
  transform: translateX(0);
}

/* Button Hover Effects */
button:hover {
  background-color: #555; /* Slightly lighter shade for hover */
}
/* Add this to your CSS file */
.emoji-display {
  margin: 20px 0;
  text-align: center;
}
#root {
  background-color: black;
}

.emoji {
  font-size: 6rem; /* Adjust the size of the emoji */
  transition: transform 0.3s ease;
}

.emoji-animated {
  animation: bounce 1s ease-in-out infinite;
}

/* Bounce Animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.container-custom {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* For medium screens (tablet) and above, apply 35% width */
@media (min-width: 768px) {
  .container-custom-md {
    width: 55% !important; /* Force the width to 35% */
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Adjust the scrollbar width */
}

::-webkit-scrollbar-track {
  background: #c8c2c2; /* Black background */
}

::-webkit-scrollbar-thumb {
  background: #474747; /* Dark gray thumb */
  border-radius: 2px; /* Rounded corners for smoothness */
}

::-webkit-scrollbar-thumb:hover {
  background: #444444; /* Slightly lighter gray on hover */
}

/* For smooth scrolling */
html {
  scroll-behavior: smooth;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
/* Fade-in and slide-in effect */
.fade-in {
  animation: fadeIn 0.5s ease-out, slideIn 0.5s ease-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in, slideOut 0.5s ease-in;
}

/* Fade-in keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-out keyframes */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Slide-in from bottom */
@keyframes slideIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

/* Slide-out to bottom */
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* For Firefox */
/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 1px !important; /* Thinner scrollbar */
}

::-webkit-scrollbar-track {
  background: #000000; /* Black background */
}

::-webkit-scrollbar-thumb {
  background: #282828; /* Dark gray thumb */
  border-radius: 2px; /* Rounded corners for smoothness */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Slightly lighter gray on hover */
}

/* For Firefox */
* {
  /* No scrollbar visible in Firefox */
  scrollbar-color: #444 #000000; /* Thumb color and track color */
  /* font-family: "DaimlerCS-Demi", sans-serif; */
}
.placeholder-white::placeholder {
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: row;
  max-height: "calc(100vh - 60px)";
}
.search:focus {
  outline: none;
}
.position-absolute-container {
  position: absolute;
  top: 20;
  max-height: 60%;
  overflow-x: scroll;
  background-color: #000;
}

@media (min-width: 1200px) {
  .position-absolute-container {
    position: relative;
  }
}

.content-area {
  flex: 1;
  width: 100%;
}
/* Add this to your custom CSS for smooth hover effect */
.mood-card:hover {
  transform: translateY(-5px); /* Lift the card */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6); /* Add a shadow */
}

@media (max-width: 991px) {
  .content-area {
    /* Sidebar width when collapsed */
  }
}

.navbar-custom {
  z-index: 10; /* Ensure navbar is above other content */
}

.position-fixed {
  z-index: 9; /* Ensure sidebar is below navbar */
}
